<div *ngIf="selectedSchuld">
    <h2>{{selectedSchuld.getperson}} bekommt von {{selectedSchuld.oweperson}} {{selectedSchuld.value}} Bier!</h2>
    <div>
        <label>Anzahl: </label>
        <input type="number" [(ngModel)]="selectedSchuld.value" placeholder="Anzahl"/>
    </div>
</div>

<hr>

<div class="wrapper">
    <div class="float-left" *ngFor="let getperson of owelist">
        <ul class="schulden">
            <li class="title">{{getperson.person}}</li>
        </ul>
        <ul class="schulden">
            <li *ngFor="let schuld of getperson.schulden"
                [class.selected]="schuld === selectedSchuld"
                (click)="onSelect(schuld)">
                <span class="badge">{{schuld.value}}</span> {{schuld.oweperson}}
            </li>
        </ul>
    </div>
</div>

