<div *ngIf="selectedSchuld && selectedOwelist">
    <h2>{{selectedOwelist.person}} bekommt von {{selectedSchuld.oweperson}} {{selectedSchuld.value}} Bier!</h2>
    <div>
        <button class="change" (click)="decrease()">-</button>
        <button class="change" (click)="increase()">+</button>
    </div>
</div>

<hr>

<div class="wrapper">
    <div class="float-left" *ngFor="let getperson of owelist">
        <ul class="schulden">
            <li class="title">{{getperson.person}}</li>
        </ul>
        <ul class="schulden">
            <li *ngFor="let schuld of getperson.schulden"
                [class.selected]="schuld === selectedSchuld"
                (click)="onSelect(schuld,getperson)">
                <span class="badge">{{schuld.value}}</span> {{schuld.oweperson}}
            </li>
        </ul>
    </div>
</div>

